.tbody{
    @apply relative
}

.tbody::before{
    content:"";
    display:block;
    line-height:1.25rem;
    text-indent:-99999px;
    @apply w-full border-[1px] border-[#282B30] absolute top-0 left-0
}

.table{
    /* border-collapse: separate; 
    border-spacing: 0 25px; */
    @apply w-full
}

.table-head{
    @apply text-[#6C727F] text-sm text-left font-semibold py-5
}

.table-desc{
    @apply text-[#D2D5DA] font-medium py-3.5
}