.tbody{
    @apply relative
}

.tbody::before{
    content:"";
    display:block;
    line-height:1.25rem;
    text-indent:-99999px;
    @apply w-full border-[1px] border-[#282B30] absolute top-0 left-0
}

.table{
    /* border-collapse: separate; 
    border-spacing: 0 25px; */
    @apply w-full
}

.table-head{
    @apply text-[#6C727F] text-sm text-left font-semibold py-5
}

.table-desc{
    @apply text-[#D2D5DA] text-sm xxs:text-base font-medium py-3.5 pr-4 xxs:pr-2.5 
}

.pagination-container{
    @apply flex flex-wrap gap-2 xxs:gap-3 mt-10 justify-end
}

.pagination-link{
    @apply w-7 h-7 xxs:w-8 xxs:h-8 text-sm xxs:text-base rounded-md bg-[#282B30] text-[#D2D5DA] font-semibold flex items-center justify-center
}

.pagination-active{
    @apply outline outline-2 outline-[#D2D5DA]
}